# Formative assessment #5
## Statistical Theory

### 8.18

List all samples of size n Â¼ 2 that are possible (with replacement) from the population in Problem
8.17.

first, calculate the mean and variance of X in the problem 8.17, then compare it.

In [34]:
# Problem 8.17: Calculating the mean and variance of X
import itertools
import numpy as np

students = np.array([9, 12, 15])
credits = np.array([1/3, 1/3, 1/3])

# mean and variance of X
mean_X = np.sum(students * credits)
variance_X = np.sum((students**2) * credits) - mean_X**2

# sample
n = 2
samples = list(itertools.product(values, repeat=n))

# sample means
sample_means = np.array([np.mean(sample) for sample in samples])

# mean of the sample means
mean_sample_means = np.mean(sample_means)

# variance of the sample means
variance_sample_means = np.var(sample_means)

# variance_X / 2
variance_2_sample_means = variance_X / 2

print(f"Number of students in the Midwestern University: {students}")
print(f"Their credits taking, respectively: {credits}")
print()
print("===== Results =====")
print(f"The Mean of X: {mean_X}")
print(f"The Variance of X: {variance_X}")
print()
print(f"Sample with replacement: {samples}")
print(f"Sample means: {sample_means}")
print(f"Mean of the sample means: {mean_sample_means}")
print(f"Variance of the sample means: {variance_sample_means}")
print(f"The half of the population variance: {variance_2_sample_means}")

Number of students in the Midwestern University: [ 9 12 15]
Their credits taking, respectively: [0.33333333 0.33333333 0.33333333]

===== Results =====
The Mean of X: 12.0
The Variance of X: 6.0

Sample with replacement: [(9, 9), (9, 12), (9, 15), (12, 9), (12, 12), (12, 15), (15, 9), (15, 12), (15, 15)]
Sample means: [ 9.  10.5 12.  10.5 12.  13.5 12.  13.5 15. ]
Mean of the sample means: 12.0
Variance of the sample means: 3.0
The half of the population variance: 3.0

as you can see, the mean of X (12) and the mean of the sample mean (12) is equal to each other. And the the variance of sample mean (3) which is the half of the population mean (3) is equal to each other

### 8.21

A population consists of the four numbers 3, 7, 11, and 15. Consider all possible samples of size 2 that can be 
drawn with replacement from this population. Find (a) the population mean, (b) the population standar deviation, (c) the mean of the sampling distribution of means, and (d) the standard deviation of the sampling 
distribution of means. Verify parts (c) and (d ) directly from (a) and (b) by using suitable formula.d

In [47]:
import numpy as np

population = np.array([3, 7, 11, 15])
population_mean = np.mean(population)
population_std = np.std(population)
sampling_distribution_mean = population_mean  
sampling_distribution_std = population_std / np.sqrt(2)

print(f"Population Mean: {population_mean}")
print(f"Population Standard Deviation: {population_std:.2f}")
print(f"Mean of the Sampling Distribution of Means: {sampling_distribution_mean}")
print(f"Standard Deviation of the Sampling Distribution of Means: {sampling_distribution_std:.2f}")

Population Mean: 9.0
Population Standard Deviation: 4.47
Mean of the Sampling Distribution of Means: 9.0
Standard Deviation of the Sampling Distribution of Means: 3.16

### 8.34

Find the probability that of the next 200 children born, (a) less than 40% will be boys, (b) between 43% and
57% will be girls, and (c) more than 54% will be boys. Assume equal probabilities for the births of boys and
girls.

In [49]:
import numpy as np
from scipy.stats import binom

n = 200 
p = 0.5 

prob_a = binom.cdf(79, n, p)

# (b) Probability that between 43% and 57% are girls (i.e., 86 to 114 girls or 114 to 86 boys)
prob_b = binom.cdf(114, n, p) - binom.cdf(85, n, p)

# (c) Probability that more than 54% are boys (i.e., > 108 boys)
prob_c = 1 - binom.cdf(108, n, p)

print(f"Probability that less than 40% are boys: {prob_a:.4f}")
print(f"Probability that between 43% and 57% are girls: {prob_b:.5f}")
print(f"Probability that more than 54% are boys: {prob_c:.4f}")

Probability that less than 40% are boys: 0.0018
Probability that between 43% and 57% are girls: 0.95996
Probability that more than 54% are boys: 0.1146

### 8.49

#### First, Lets find the mean and variance of the given data set from the table

In [63]:
import pandas as pd
x = [6, 9, 12, 15, 18]
p_x = [0.1, 0.2, 0.4, 0.2, 0.1]

data = { 'x':[6, 9, 12, 15, 18],
         'p(x)':[0.1, 0.2, 0.4, 0.2, 0.1]
       }

df = pd.DataFrame(data)
df

    x  p(x)
0   6   0.1
1   9   0.2
2  12   0.4
3  15   0.2
4  18   0.1

In [43]:
import numpy as np

x = np.array([6, 9, 12, 15, 18])
p_x = np.array([0.1, 0.2, 0.4, 0.2, 0.1])

mean = np.sum(x * p_x)
variance = np.sum(((x - mean)**2) * p_x)

print(f"Mean: {mean:.1f}")
print(f"Variance: {variance:.1f}")

Mean: 12.0
Variance: 10.8

In [61]:
import pandas as pd
from itertools import product
import numpy as np

x = np.array([6, 9, 12, 15, 18])  
p_x = np.array([0.1, 0.2, 0.4, 0.2, 0.1])  

samples = list(product(x, repeat=2))

sample_means = [(a + b) / 2 for a, b in samples]

# for calculating the probability
sample_probs = [p_x[np.where(x == a)[0][0]] * p_x[np.where(x == b)[0][0]] for a, b in samples]

df = pd.DataFrame({
    'Sample': [f"({a}, {b})" for a, b in samples],
    'Mean': sample_means,
    'Probability': sample_probs
})

df

      Sample  Mean  Probability
0     (6, 6)   6.0         0.01
1     (6, 9)   7.5         0.02
2    (6, 12)   9.0         0.04
3    (6, 15)  10.5         0.02
4    (6, 18)  12.0         0.01
5     (9, 6)   7.5         0.02
6     (9, 9)   9.0         0.04
7    (9, 12)  10.5         0.08
8    (9, 15)  12.0         0.04
9    (9, 18)  13.5         0.02
10   (12, 6)   9.0         0.04
11   (12, 9)  10.5         0.08
12  (12, 12)  12.0         0.16
13  (12, 15)  13.5         0.08
14  (12, 18)  15.0         0.04
15   (15, 6)  10.5         0.02
16   (15, 9)  12.0         0.04
17  (15, 12)  13.5         0.08
18  (15, 15)  15.0         0.04
19  (15, 18)  16.5         0.02
20   (18, 6)  12.0         0.01
21   (18, 9)  13.5         0.02
22  (18, 12)  15.0         0.04
23  (18, 15)  16.5         0.02
24  (18, 18)  18.0         0.01